<!DOCTYPE html>
<html lang="en">

<head>

    <title>TOBi</title>

    <!-- for mobile screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="stylesheets/indexEjs.bundle.css">

</head>

<body>

    <div id="chat"></div>
    <script nonce="4AEemGb0xJptoIGFP3Nd" src="javascripts/index.bundle-min.js" defer></script>

</body>
